<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists of clubs and their points || GUDLFT</title>
</head>
<body>
    <h2>Lists of clubs</h2>
    <table>
        <tr>
            <th>club</th>
            <th>points</th>
        </tr>
        {% for club in clubs %}
        <tr>
            <td>{{club['name']}}</td>
            <td>{{club['points']}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/logout">Logout</a>
</body>
</html>